---
layout: layouts/page.njk
---

<section class="article-post">
  <div class="container mw-lg lead lh-lg text-justify">
    <h6 class="fs-4 fw-medium mb-3">{{ date | formatDate }}</h6>
    {{ content | safe }}
  </div>
</section>
