---
layout: layouts/page.njk
title: Page not found
seo: 404 - Page not found
---

<section class="container mw-lg text-center">
  <p class="fs-5">Return to the homepage</p>
  <a href="/" class="btn btn-outline-primary btn-lg mt-1">back to homepage</a>
</section>
