---
layout: layouts/homepage.njk
---

<section id="about" class="container text-center">
  <h2 class="display-6 mb-4">Hello Everyone 👋</h2>
  <p class="fs-5">I'm a fullstack developer who likes to tinker and try new stuff.</p>
  <p class="fs-5">I like to play with technologies and see "under the hood"</p>
  <p class="fs-5">I'm a dad and likes to play guitar with my kid; I am a big fan of craft beers, cooking and forest hiking</p>
  <p class="fs-5">Computers and technology is a big part of my life, it's my job but also my favorite hobby</p>
  <br>
  <br>
  <p class="display-6 mb-4">Languages and Frameworks of choice:</p>
  <p class="fs-5"><strong>Java/Kotlin</strong> with Spring or Quarkus (Native Images)</p>
  <p class="fs-5"><strong>JS/TS</strong> with mostly React but also Angular and Vue 3 and api with Express or NestJS</p>
  <p class="fs-5">Exploring <strong>Go</strong> as a go to language with Echo and Wails</p>
  <p class="fs-5">Exploring <strong>Modern C++</strong> or <strong>Rust</strong> as a low level language</p>
  <p class="fs-5">And <strong>PHP</strong> with Wordpress or Laravel for friends and families websites</p>
</section>

<section class="container mw-lg">
  <h2 class="display-2 text-center mb-5">Latest Posts</h2>

  {% for post in collections.latest %}
    {% include 'components/article.njk' %}
  {% endfor %}

  <div class="d-flex justify-content-center">
    <a href="{{ '/blog' | url }}" class="btn btn-primary btn-lg text-capitalize px-5">See all</a>
  </div>
</section>
