<article>
  <h3 class="fs-2 mb-3 text-capitalize">{{ post.data.title }}</h3>
  <p class="lead lh-lg text-justify">{{ post.data.description }}</p>
  <a href="{{ post.url }}" class="btn btn-outline-primary btn-lg mt-1">Read more</a>
</article>

<hr class="my-5">
